    {{ define "main" }} // 填充 baseof.html 中的 main block

    <article>
        <header>
            <h1>{{ .Title }}</h1> {{/* 显示当前列表页的标题 */}}
            {{ with .Content }}
                <div>{{ . }}</div> {{/* 如果 Section 的 _index.md 有内容，则显示 */}}
            {{ end }}
        </header>

        <ul>
            {{ range .Pages }} {{/* 遍历当前列表页下的所有子页面或文章 */}}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a> {{/* 显示文章标题和链接 */}}
                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time> {{/* 显示日期 */}}
                </li>
            {{ end }}
        </ul>

        {{/* 如果需要分页，可以在这里添加分页导航 */}}
        {{ template "_internal/pagination.html" . }}

    </article>

    {{ end }} // 结束 main block 定义
    
